.Sobre .container {
    width: 100%;
}

#sobreT {
    justify-content: space-between;
    display: flex;

}

#div_texto_sobre {
    width: 700px;
    height: 380px;
    background-color: rgb(212, 210, 214);
    margin-left: 40px;
    border-radius: 20px 0px 0px 20px;

}

#p1Sobre {
    width: 650px;
    margin-left: 30px;
    text-align: justify;
    margin-top: 25px;
}


.Sobre {
    display: flex;
    flex-direction: column;
}

#h1Sobre {
    display: flex;
    align-items: center;
    margin-left: 45px;
}