.historia .container{
    width: 100%;
    display: flex;
}


.historia .container .lateral{
    width: 200px;
    height: 800px;
    background-color: rgba(143, 136, 136, 0.599);
}

.navBar3 {
   flex-direction: column;
    justify-content: center;
    display: flex;
    margin-top: 70px;
    font-size: 20px;
    font-style: none;

}
